.view{
    display: flex;
}
.sideIndex{
    background-color: rgb(46, 46, 46);
    display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}
.myNoteList{
    display: flex;
    height: 80vh;
    width: 20rem;
    flex-direction: column;
    align-items: center;
    
    list-style: none;
    border-right: 1px solid rgb(119, 119, 119);
    overflow: scroll;
}
.myNoteList::-webkit-scrollbar{
    display: none;
}
.myNoteList>li{
    padding: 0.5rem;
    font-size: 16px;
    display: flex;
    transition: all 0.3s ease;
}
.bodySection{
    font-size: 16px;
    text-align: justify;
    padding: 3rem;
    height: 70vh;
    overflow-y: scroll;
}
.bodySection::-webkit-scrollbar{
    display: none;
}
.bodySection>h1{
    color: rgb(169, 169, 169);
    text-decoration: underline 4px rgb(100, 96, 96);
}
.deleteBtn{
    margin-left: 1rem;
    size: 3rem;
    background-color: rgb(135, 130, 130);
    border: none;
    box-shadow: 0 0 10px 1px rgb(18, 18, 18);
}
.title{
    width: 15rem;
    height: 1.8rem;
    overflow: hidden;
}
.myNoteList>li:hover{
    cursor: pointer;
    background-color: rgb(14, 12, 12);
    box-shadow: 0.1px 0.1px 20px 1px rgb(29, 19, 19);
}